# Dados do TTravel
MFA_SECRET_KEY="SUA_CHAVE_SECRETA_LONGA_AQUI"
LOGIN_USER="usuario_da_conta"
LOGIN_PASS="senha_da_conta"
FIXED_CLIENT_ID="ID_DO_CLIENTE_FIXO_AQUI"

# Chave da sua API
API_KEY="INVENTE_UMA_SENHA_FORTE_PARA_SUA_API"